/***
 * Boostrap modal v3.3.5
 *
 * namespaced
 *
 * This CSS file is inside the /js folder because Magento doesn't have a
 * default /css folder.
 */

#nimbus-modal-target .close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
#nimbus-modal-target .close:hover,
#nimbus-modal-target .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
#nimbus-modal-target a.close {
  -webkit-appearance: none;
  padding: 10px 10px 0 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.modal-open {
  overflow: hidden;
}
#nimbus-modal-target.nimbus-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  padding: 0;
  width: 100%;
}

#nimbus-modal-target.modal-open.nimbus-modal {
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
}
#nimbus-modal-target .modal-dialog {
  position: relative;
  margin: 0;
}
#nimbus-modal-target .nimbus-modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
#nimbus-modal-target .modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
#nimbus-modal-target .modal-header .close {
  margin-top: -2px;
}
#nimbus-modal-target .modal-title {
  margin: 0;
  line-height: 1.42857143;
}
#nimbus-modal-target .modal-body {
  position: relative;
  padding: 15px;
}
#nimbus-modal-target .modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
#nimbus-modal-target .modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
#nimbus-modal-target .modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
#nimbus-modal-target .modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
#nimbus-modal-target .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 768px) {
  #nimbus-modal-target .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  #nimbus-modal-target .nimbus-modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  #nimbus-modal-target.modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  #nimbus-modal-target.modal-lg .modal-dialog {
    width: 900px;
  }
}

@media (min-width: 1200px) {
  #nimbus-modal-target.modal-lg .modal-dialog {
    width: 90vw;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
  }

  #nimbus-modal-target .modal-body,
  #nimbus-modal-target .modal-content {
    height: calc(100% - 30px);
  }

  #nimbus-modal-target iframe {
    height: 100% !important;
  }
}

/*
 * Custom modal styles
 *
 */
#nimbus-modal-target .modal-header { border: 0; }


@media (min-width: 768px) {
  #nimbus-modal-target iframe {
    height: 500px;
    max-height: 100%;
    width: 100%;
  }
}

@media (max-width: 767px) {
  #nimbus-modal-target.nimbus-modal {
    padding: 0 !important;
  }

  #nimbus-modal-target.modal-dialog {
    padding: 15px;
  }

  #nimbus-modal-target iframe {
    height: 360px;
  }
}
