<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Nimbus_3dProducts>
			<version>0.1</version>
		</Nimbus_3dProducts>
	</modules>
	<global>
		<models>
			<nimbus>
				<class>Nimbus_3dProducts_Model</class>
			</nimbus>
		</models>
		<resources>
			<nimbus_setup>
				<setup>
					<module>Nimbus_3dProducts</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
			</nimbus_setup>
		</resources>
       <blocks>
            <nimbus_3dproducts>
                <class>Nimbus_3dProducts_Block</class>
            </nimbus_3dproducts>
        </blocks>
    </global>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_edit_prepare_form><!-- event needed to add a template to a certain attribute -->
                <observers>
                    <nimbus>
                        <class>Nimbus_3dProducts_Model_Observer</class>
                        <method>convertCustomValues</method>
                    </nimbus>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
        </events>
    </adminhtml>
	<frontend>
		<layout>
			<updates>
				<nimbus>
					<file>nimbus.xml</file>
				</nimbus>
			</updates>
		</layout>
	</frontend>
</config>