<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Nimbus_3dProducts>
			<version>0.2</version>
		</Nimbus_3dProducts>
	</modules>
	<global>
		<helpers>
			<nimbus3d>
				<class>Nimbus_3dProducts_Helper</class>
			</nimbus3d>
		</helpers>
		<models>
			<nimbus3d>
				<class>Nimbus_3dProducts_Model</class>
			</nimbus3d>
		</models>
		<resources>
			<nimbus_setup>
				<setup>
					<module>Nimbus_3dProducts</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
			</nimbus_setup>
		</resources>
       <blocks>
            <nimbus3d>
                <class>Nimbus_3dProducts_Block</class>
            </nimbus3d>
        </blocks>
    </global>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_edit_prepare_form><!-- event needed to add a template to a certain attribute -->
                <observers>
                    <nimbus>
                        <type>singleton</type>
	                    <class>nimbus3d/observer</class>
                        <method>convertCustomValues</method>
                    </nimbus>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
			<sales_order_place_after>
				<observers>
	                <nimbus>
	                	<type>singleton</type>
	                    <class>nimbus3d/observer</class>
	                    <method>placeOrder</method>
	                </nimbus>
				</observers>
			</sales_order_place_after>
        </events>
    </adminhtml>
	<frontend>
		<layout>
			<updates>
				<nimbus>
					<file>nimbus.xml</file>
				</nimbus>
			</updates>
		</layout>
	</frontend>
</config>